{% extends "application.html" %}

{% block content %}

<!-- <form action="{{ url_for('contact') }}" method="POST" enctype="multipart/form-data"> -->
<form action="{{ url_for('contact') }}" method="POST">
  {{ form.csrf_token }}

    <div class="form-group">
      {{ form.file(class="form-control-file") }}

  </div>  <br>
  {{ form.submit(class='btn btn-success') }}
  <!-- <input type = "reset" id = "mybutton" value = "Limpar" class='btn btn-secondary' /> -->
  <button type="reset" class="btn btn-secondary">Limpar</button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Fechar</button>
</form>

{% endblock %}